*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}



header{
    margin: -5px; /*serve para tirar a margem superior do body acima do header*/
    font-size: 20px; /*Serve para controlar o tamanho do texto*/
    font-family: arial; /*Refere-se ao tipo de letra utilizada*/
    margin-bottom: 10px;
}
#navh1:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); 
}
nav{
    display: flex;
    justify-content:/*define como os itens são alinhados ao longo do eixo principal.*/ space-around;
    align-items: center;/*Ela define como os itens são alinhados ao longo do eixo transversal */
    background-image: linear-gradient(rgb(38, 121, 121), rgb(0, 113, 128), rgb(75, 151, 98));
    height: 80px; /*é usada para definir a altura da área de conteúdo de um elemento HTML*/
}
nav ul{
    list-style: none; /*tira a bolinha do lado do nome na lista*/
    display: flex; /*faz com que a lista fique de forma horizontal*/
    margin-top: 15px;
}
nav li{
    letter-spacing: 3px; /*espaçamento entre cada letra*/
    margin-left: 70px; /* espaçamento entre cada item da lista*/
}
nav li:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); 
}
nav a{
    text-decoration: none; /*tira a linha debaixo do que está escrito*/
    color: white;
}
nav a:hover{ /*hover é usado para aplicar estilos a um elemento quando o cursor do mouse passa sobre ele*/
    cursor: pointer;/*mudar o estilo do cursor ao passar por cima*/
    color: aqua ;
}
a img{
    width: 60px; /*é usada para definir a largura da área de conteúdo de um elemento HTML*/
    height: 60px; /* é usada para definir a altura de um elemento HTML*/
}
a img:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); 
}
nav button:hover{
    cursor: pointer;
    color: cyan;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); 
}
nav button{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px ;
    border-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;     
}